<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{MM.dd HH:mm:ss.SSS}] [%p] [%c] - %m%n" />
		</Console>
		<!-- 
		<File name="log" fileName="log/test.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File> 
		-->
	</appenders>
	<loggers>
		<!-- 日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
		<root level="WARN">
			<appender-ref ref="Console" />
			<!-- <appender-ref ref="log"/> -->
		</root>
		<logger name="org.penpi" level="DEBUG" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.penpi.core.commons.transaction" level="INFO" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="log4jdbc.log4j2" level="DEBUG" additivity="false"><!-- level=info则开启SQL输出 -->
			<MarkerFilter marker="LOG4JDBC_NON_STATEMENT" onMatch="DENY" onMismatch="NEUTRAL" />
			<appender-ref ref="Console" />
		</logger>
	</loggers>
</configuration>